{% extends 'base.html' %}
{% block title %}Tag: {{ tag.name }}{% endblock %}
{% block body %}
<ul class="nav justify-content-center" style="padding-top: 1em;">
    <li class="nav-item">
      <a class="btn btn-primary" href="{{ url_for('index') }}">HOME</a>
    </li>
  </ul>
<h3 class="my-2">UPDATE TAG</h3>
<form action="" method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group my-3">
    {{ form.name.label }}
    {{ form.name(class_='form-control' , placeholder = 'New Name')}}
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
